.mainDiv {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  
  #map {
    border: 1px solid black;
    height: 90%;
    /* http://stackoverflow.com/questions/1260122/expand-a-div-to-take-the-remaining-width */
    width: auto;
    overflow: hidden;
    postion: relative;
    /* margin-right: 10px; */
    margin-right: 10px;
    padding-right: 15px;
    margin-bottom: 10px;
    
  }
  
  #placeInfo {
    margin-left: 10px;
    float: left;
    display: inline-block;
    vertical-align: top;
    width: 20%;
    max-width: 300px;
    min-width: 130px;
  /*            font-size: 30px;*/
    font-weight: bold;
    
  }
  
  #ham {
    float: right;
  }
  
  #directionsPanel {
  /*            border: 1px solid green;*/
    padding-left: 0px;
    margin-left: 10px;
    float: right;
    width: 300px;
  }
  
  .hidden, .disabled {
    display: none;
  }
  
  .on {
    display: inline;
  }
  
  input {
    width: 95%; /*90% of #placeInfo's width */
    
  }
  
  
  #placeInfo > t {
    
    font-size: small;
  }
  
  #placeInfo > a {
  /*            float:right;*/
    display: inline-block;
    vertical-align: bottom;
  }
  
  #placeInfo >h3 {
    padding-bottom: 0px;
    margin-bottom: 0px;
    
  }
  
  .searchInput {
             padding-bottom: 20px;
    
    
  }
  
  #searchbox{
    margin-top: 20px;
   margin-right: 10px;
    font-size: 20px;
  }
  
  ol {
    font: 13px/1.4 Helvetica, arial;
  }
  
  ol > li {
    margin-bottom: 10px;
  }
  
  
  http://www.webdesignerdepot.com/2012/11/how-to-create-a-simple-css3-tooltip/
  .tooltip{
    display: inline;
    position: relative;
  }
  
  .tooltip:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title); /*set content to the title of the element*/
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
  }
  
  .tooltip:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
  }
  